<html>
<body>

<div class="block1">
<h1> Chessboard </h1>
</div>

<p id="board" onclick="showCoords(event)">{{ name }}</p> 

<p id="demo"></p> 

 <script>
function showCoords(event) {
  var x = event.clientX;
  var y = event.clientY;
  var coords = "X coords: " + x + ", Y coords: " + y;
  document.getElementById("demo").innerHTML = coords;
}
</script>

</body>
</html>
