
<title>RandomWebsiteName</title>

<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);</p>
<p>
body{
	text-align: center;
}
h1{
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
	color: #FFFFFF
	font-size: 2.5em;
}
</p></style>
